@using MudBlazor

<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column">
            <MudDatePicker @bind-Date="_selectedDate" Label="Wybierz datę"/>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Confirm" Color="Color.Primary">Zatwierdź</MudButton>
        <MudButton OnClick="Cancel" Color="Color.Secondary">Anuluj</MudButton>
    </DialogActions>
</MudDialog>

@code {
    private DateTime? _selectedDate = DateTime.Now.Date;

    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter] public DateTime CheckedDate { get; set; }

    protected override void OnParametersSet()
    {
        _selectedDate = CheckedDate;
    }

    private void Confirm()
    {
        MudDialog.Close(DialogResult.Ok(_selectedDate!));
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

}